

.gehaktbrood-recept {
	width: 400px;
	height: 100px;
	padding: 60px;
	border-size: 80px;
	border-style: none;
	border-radius: 8px;
}
body{
		background-color: lightblue ; }
        
		img.floatleft{float:left;
          border: 2px solid black;