.naam {
	background-color: lightgray;
	width: 400px;
	height: 100px;
	padding: 60px;
	border-size: 80px;
	border-style: dashed;
	border-radius: 8px;
	border-color: darkorange;
	margin:10px;

}

